.lang-switcher {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-family: var(--font-mono);
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-top: 1rem;
    justify-content: center;
    color: var(--clr-bg);

    a {
        color: var(--clr-bg);
        filter: drop-shadow(1px 1px .5px var(--clr-red)) drop-shadow(0 0 .5px var(--clr-red));
        text-decoration: none;
        opacity: 0.5;
        transition: opacity 0.3s ease;

        &:hover,
        &.active {
            opacity: 1;
            color: var(--clr-bg);
        }

        &.active {
            font-weight: 700;
        }
    }

    .sep {
        opacity: 0.8;
        color: var(--clr-bg);
        filter: drop-shadow(1px 1px .5px var(--clr-red)) drop-shadow(0 0 .5px var(--clr-red));
    }



    @media (max-width: 800px) {
        color: var(--clr-ink);
        justify-content: none;
        font-size: 0.7rem;


        a, .sep {
            filter: none;
            color: var(--clr-ink);

            &:hover {
                color: var(--clr-ink);
            }

            &.active {
                color: var(--clr-ink);
            }
        }

    }
}